<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer HTML</title>
</head>
<body>
    <h4>PEQUEÑOS PASOS</h4>
    
    <h1>ESTA ES LA PRUEBA DE QUE FUNCIONA</h1>
    
    <img src="imagenes/compila.jpeg" alt="Chiste">

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae debitis ipsa ad, pariatur, iste laboriosam id fugiat nemo fugit natus deserunt velit animi. Voluptatibus distinctio doloremque quam ex dolorum facilis!</p>

    <a href="https://google.com.ar">Ir a google</a>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta facere labore, et perspiciatis cum ullam illum laborum consequatur consectetur, ipsum cupiditate libero, saepe delectus est id iusto. Odio, minus facilis!</p>

    <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>

    <ol>
        <li>item 4       
        </li>
        <li>item 5</li>
        <li>item 6</li>
    </ol>







    


    
</body>
</html>

